html,body{margin:0;padding:0;font-family:arial, verdana, sans-serif;}
h1.loginform{font:bold 28px;color:#265180;text-align:center; font-family: cooper black;}
div.loginform{background-color:#265180;}
table.loginform{margin-left:auto;margin-right:auto;color:#f0f0f0;text-align:left;background-color:#265180;}
table.loginform fieldset{border:1px solid #cce0b8;margin:20px;padding:20px;color:#ffffff;}
table.loginform fieldset legend{border:1px solid #cce0b8;width:50%;margin-left:25%;margin-right:25%;padding:4px;background-color:#3e698c;text-align:center;}
table.loginform fieldset label{display:inline-block;width:80px;padding:10px;vertical-align:center;font-size:14px;color:#ffffff;font-family:comic sans ms;}
.errormsg {font-size:12px;color:#ffffff;text-align:center;}
div.footer{position:absolute;bottom:0px;width:100%;font-size:12px;color:#808080;text-align:center;background-color: #e0e0e0;}
table.header{width:100%;font-size:13px;color:#ffffff;height:10px;line-height:10px;padding: 0;}
div.infouser{margin-top: 80px;}
table.header #clocktime,#welcome{font-size:16px;color:#ffffff;margin-left:0px; margin-top: 20px;}
table.header img{margin-top: 0px;}
#topmenu{height:37px; display:block; padding:0; margin:5px auto;  border:1px solid; border-radius:5px; clear:both;}
#topmenu > ul {list-style:inside none; padding:0; margin:0;}
#topmenu > ul > li {list-style:inside none; padding:0; margin:0; float:left; display:block; position:relative;} 
#topmenu > ul > li > a{outline:none; display:block; position:relative; padding:12px 20px; font:bold 13px/100% Arial, Helvetica, sans-serif; text-align:center; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.4); } 
#topmenu > ul > li:first-child > a{border-radius:5px 0 0 5px;} 
#topmenu > ul > li > a:after{content:''; position:absolute; border-right:1px solid; top:-1px; bottom:-1px; right:-2px; z-index:99; } 
#topmenu ul li.has-sub:hover > a:after{top:0; bottom:0;} 
#topmenu > ul > li.has-sub > a:before{ content:''; position:absolute; top:18px; right:6px; border:5px solid transparent; border-top:5px solid #fff; } 
#topmenu > ul > li.has-sub:hover > a:before{top:19px;} 
#topmenu ul li.has-sub:hover > a{ background:#0A192A; border-color:#0A192A; padding-bottom:13px; padding-top:13px; top:-1px; z-index:999; } 
#topmenu ul li.has-sub:hover > ul, #topmenu ul li.has-sub:hover > div{display:block;} 
#topmenu ul li.has-sub > a:hover{background:#3f3f3f; border-color:#3f3f3f;} 
#topmenu ul li > ul, #topmenu ul li > div{ display:none; width:auto; position:absolute; top:38px; padding:10px 0; background:#093e69; border-radius:0 0 5px 5px; z-index:999; } 
#topmenu ul li > ul{width:200px;} 
#topmenu ul li > ul li{display:block; list-style:inside none; padding:0; margin:0; position:relative;} 
#topmenu ul li > ul li a{ outline:none; display:block; position:relative; margin:0; padding:8px 20px; font:10px Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-shadow:1px 1px 0 rgba(0,0,0, 0.5); } 
#topmenu, #topmenu > ul > li > ul > li a:hover{ background:#3e698c; background:-moz-linear-gradient(top,  #3e698c 0%, #30576e 100%); background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e698c), color-stop(100%,#30576e)); background:-webkit-linear-gradient(top,  #0A4467 0%,#071927 100%); background:-o-linear-gradient(top, #3e698c 0%,#30576e 100%); background:-ms-linear-gradient(top, #3e698c 0%,#30576e 100%); background:linear-gradient(top,  #3e698c 0%,#30576e 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e698c', endColorstr='#30576e',GradientType=0 ); } 
#topmenu{border-color:#1b313d;} 
#topmenu > ul > li > a{border-right:1px solid #1b313d; color:#fff;} 
#topmenu > ul > li > a:after{border-color:#6696bd;} 
#topmenu > ul > li > a:hover{background:#436f93;} 
#leftmenu {width: 180px;margin: 0 10px 10px 10px;font-family: Arial, Helvetica, sans-serif;}
#leftmenu li a {font-size: 12px;height: 22px;text-decoration: none; border-width:1px;border-style:solid;border-color:#3f3f3f;}	
#leftmenu li a:link, #leftmenu li a:visited {color:#000000;display: block;background-color: #e0e0e0;padding: 8px 0 0 15px;}
#leftmenu li a:hover {background-color:#f0f0f0;padding:8px 0 0 15px;}
#leftmenu ul {list-style:none;margin:0px;padding:0px;text-indent:5px;}
#leftmenu  #headleftmenu{height:30px;line-height:30px;background-color:#033258;text-align:center;color:#ffffff;border-radius:10px 10px 0 0;}
h1.content{font:bold 22px arial,sans-serif;color:#0000ff;}
h2.content{font-size:20px;color:#ff0000;}
div.breadcrumb{font-size:12px;color:#0000A0;}
#table-a {font-family:"Lucida Sans Unicode","Lucida Grande",Sans-Serif;font-size:12px;width:600px;text-align:center;border-collapse:collapse;}
#table-a th {font-size:13px;font-weight:normal;padding:8px;background: #b9c9fe;border-top:4px solid #aabcfe;border-bottom: 1px solid #ffffff;color: #003399;}
#table-a td {padding:8px;background:#e8edff;border-bottom:1px solid #ffffff;color:#666699;border-top:1px solid transparent;}
#table-a tr:hover td {background:#d0dafd;color:#333399;}
#table-a a {text-decoration:none;}
#table-a a:hover {text-decoration:underline;}

